.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cv_body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile_image {
  height: 10rem;
}

.print-cv-btn {
  position:absolute;
  font-size: 20px;
  border: solid 2px white;
  border-radius: 30px;
  background-color: #282c34;
  color: white;
  padding: 10px 30px;
  margin-top: 450px;
  transition: all 0.5s ease-in-out;
}

.print-cv-btn:hover {
  cursor: pointer;
  background-color: rgb(65, 71, 80);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}